

body {
  background-image: -moz-element();

background: linear-gradient(rgba(158, 153, 153, 0),rgba(158, 153, 153, 0.445),rgba(158, 153, 153, 0.507),rgba(158, 153, 153, 0.582), rgba(155, 145, 145, 0.185)), url(lulea.jpg); height: 100vw; 
background-attachment: fixed;

background-repeat: no-repeat;
background-position: cover;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat; background-image: -moz-element();background-size: cover;

height: 180vw; 


}
header{
  float: center;
  margin-top: -7.3vw;
background: linear-gradient( rgb(0, 0, 0), rgb(168, 168, 168));

margin-left: -6vw;
width: 120vw;
height:20vw ;


}


h1{
  padding-top: 5vw;
  text-align: left;
  font-size: 10vw;
  text-shadow: 1px 3px red;
  color: rgb(243, 142, 142);
 margin-left:1vw;
 font-family: Arial, Helvetica, sans-serif;
 
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;

}

@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 80px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 80px;}
}

#canvas{

 
 width: 100%; 
 height: 200vw; background-repeat: no-repeat;
text-align: center;
color: black;




}






#test {

  position: absolute;
  top: 30vw;
  right: 1;
  z-index: 900;
  color: rgb(0, 0, 0);
  text-decoration-color: rgb(226, 3, 33);
  box-shadow: rgb(255, 255, 255) 0 0 1ch;
  font-size: 5vw;
  text-align: center;
  text-decoration-color: aqua;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive, sans-serif;
  font-weight: bold;

}

iframe{

  position: absolute;



left: 0vw;
right: 10vw;
  z-index: 900;


}

.spotify{

  position: absolute;
top:145vw;
left: 0vw;
right: 0vw;;
  z-index: 900;
  border:  13px solid rgb(202, 0, 0);
  width: 92vw;
  height: 19vw;
  border-radius: 20px;
  box-shadow: rgb(153, 0, 0) 0 0 10ch;

  
}








