
*{
margin: 7;
padding: 0;
}

body {

  background: linear-gradient(rgba(161, 44, 44, 0),rgba(158, 153, 153, 0.445),rgba(158, 153, 153, 0.507),rgba(158, 153, 153, 0.582), rgba(155, 145, 145, 0.185)), url(lulea.jpg); height: 20vw;;
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;

  width: 100%;
  height: 100vw;
  }
 
  
  
  h1{
    color: rgb(65, 0, 0);
margin-top:-9;
    font-size: 10vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
  }

  #klocka{
    font-family: Arial, Helvetica, sans-serif, cursive;
   float: left;
    margin: 19px;
    text-shadow: 1px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 6vw;

  }
  
  #canvas{
  
    background-size: cover;
   width: 120vw; 
   height: 200vw; 
  text-align: center;
  color: black;
  
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
  
  }
  
  
  
  
  
  
  .test {
    color: rgb(184, 0, 0);
    margin-top:-9;
        font-size: 10vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-weight: bold;
    padding-top: 0vw;
    text-align: left;
    font-size: 10vw;
  
   margin-left:1vw;
   font-family: Arial, Helvetica, sans-serif;
   
      position: relative;
      -webkit-animation: mymove 7s infinite; /* Safari 4.0 - 8.0 */
      animation: mymove 7s infinite;
  
  }
  
  @-webkit-keyframes mymove {
    from {left: 5px;}
    to {left: 60px;}
  }
  
  @keyframes mymove {
    from {left: 5px;}
    to {left: 60px;}
  }
  
  iframe{
  
    position: absolute;
  
  left: 0vw;
  right: 10vw;
    z-index: 900;
  
  
  }
  
  .spotify{
  
    position: absolute;
  top:140vw;
  left: 0vw;
  right: 0vw;;
    z-index: 900;
    
    width: 100vw;
    height: 20vw;
  
   
  
    
  }
  
  p {
    text-align: center;
    font-size: 5vw;
  left: 10vw;
  margin-right:25px; 
    color: white;
  }
  
  
  
  
  
  
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    
  
  
  
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: right;
    top: 20%;
    width: auto;
    margin-top: 1px;
    padding: 16vw;
    color: rgb(146, 172, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: left;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  
    
  }
  
  .dot-container {
      text-align: center;
      padding: 5vw;
      background: rgb(255, 255, 255);
   
      position: absolute;
      top:100vw;
      left: 0vw;
      right: 0vw;;
        z-index: 900;
        height: 20px;;
        background-image: linear-gradient(rgba(211, 189, 189, 0),rgba(0, 0, 0, 0.445),rgba(255, 255, 255, 0.507),rgba(158, 153, 153, 0.582), rgba(0, 0, 0, 0.712));
  
  }
  
  .dot {
    cursor: pointer;
    height: 10vw;
    width: 10vw;
    margin: 0 5px;
    margin-top:-8px;
    background-image: linear-gradient(rgba(211, 189, 189, 0),rgba(116, 121, 110, 0.445),rgba(255, 255, 255, 0.507),rgba(158, 153, 153, 0.582), rgba(24, 126, 221, 0.712));
    border-radius: 50%;
    display: inline-block;
  
    
  }
  
  
  .active, .dot:hover {
    background-color: #000000;
  
    
  }
  
  q {font-style: italic;
  
  color:black;
  font-size: 6vw;
    position: absolute;
  top:35vw;
  left: 0vw;
  right: 0vw;
    z-index: 900;
    box-sizing: border-box;
  
  }
  
  .author {color: rgb(255, 255, 255);
  
    float: left;
  top:80vw;
  left: 17vw;
  right: 16vw;;
    z-index: 900;
    font-size: 8vw;
    width: 10vw;
    text-align: center;
    font-family: "Lobster", serif;
    box-shadow: rgb(153, 0, 0) 0 0 10ch;
  border-radius: 50vw;
  
    font-style: oblique;
  }
  
  .text{
    position: absolute;
    color: rgb(255, 255, 255);
  top:40vw;
  left: 0vw;
  right: 1vw;

    font-size: 6vw;
    width: 10%;
    font-style: italic;
   
  border-radius: 3ch; width: 32ch; height: 10ch;
  
  }
  
  .text2{
    position: absolute;
    color: rgb(0, 0, 0);
  top:40vw;
  left: 5vw;
  right: 1vw;;
    z-index: 900;
    font-size: 6vw;
    font-style: italic;
  
  border-radius: 3ch; width: 30ch; height: 5ch;
  text-shadow: 20ch;
  }
  
  .text3{
    position: absolute;
    color: rgb(255, 255, 255);
  top:40vw;
  left: 2vw;
  right: 1vw;;
    z-index: 900;
    font-size: 6vw;
    font-style: italic;
    
  }
  
  .text4{
    position: absolute;
    color: rgb(255, 194, 194);
  top:35vw;
  left: 0vw;
  right: 3vw;;
    z-index: 900;
    font-size: 7vw;
    font-style: italic;
  
  }
  .author3 {color: rgb(255, 255, 255);
  
    position: absolute;
  top:37vw;
  left: 0vw;
  right: 1vw;;
    z-index: 900;
    font-size: 7vw;
    font-family: "Lobster", serif, cursive;
    font-style: italic;

  border-radius: 50vw;
  
  
  }
  #button{
    width:400px;
    height:400px;
    position: center;

    
    text-align:center;
    }
  #heart img{
    position:absolute;
    left:0;
    right:0;
  top: 410px;
    margin:0 auto;
    -webkit-transition: opacity 7s ease-in-out;
    -moz-transition: opacity 7s ease-in-out;
    -o-transition: opacity 7s ease-in-out;
    transition: opacity 7s ease-in-out;}
  
   @keyframes heartFadeInOut {
    0% {
      opacity:1;
    }
    14% {
      opacity:1;
    }
    28% {
      opacity:0;
    }
    42% {
      opacity:0;
    }
    70% {
      opacity:0;
    }
  }
  
  #heart img.top { 
    animation-name: heartFadeInOut; 
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
  
  }